body{
    background-color: rgb(14, 12, 12);
}
h1{
    color: white;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;

}
.link{
    display: flex;
    justify-content: center;
}  
.botao{
    display: flex;
    justify-content: center;
}  